<div class="container">
    <div class="row">
        <div class="span12">
            <div class="wrap2">
                <div class="row">
                    <div class="span4">
                        <div class="banner-wrap recip-bnr">
                            <div>
                                <h5><span>100%</span>FREE</h5>
                                <p>membership for all</p>
                            </div>
                            <div class="link-align"><a href="#" class="btn">&gt;</a>
                            </div>
                        </div>
                        <!-- .banner-wrap (end) -->
                    </div>
                    <div class="span1"></div>
                    <div class="span3">
                        <div class="clearfix home2-title">
                            <h2 class="title-box_primary">Quick Links</h2>
                        </div>
                        <!-- //.title-box -->
                        <div class="styled custom-list">
                            <ul>
                                <li><a href="laughteryoga.html">Laughter Yoga Therapy</a>
                                </li>
                                <li><a href="about.html">About Us</a>
                                </li>
                                <li><a href="training.html">Our Training</a>
                                </li>
                                <li><a href="gallery.html">Gallery</a>
                                </li>
                                <li><a href="committee.html">Committe Members</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span4">
                        <address>
                <img class="alignnone size-full" alt="" src="images/logo-mini.png"/><br />
                <strong>Cochin Laughter Club</strong><br />
                Jawaharlal Nehru Intl. Stadium,<br>
                Kaloor, Kochi - 682017, <br>
				Kerala, South India, INDIA<br><br>
                Telephone: 09447912714, 9037138816<br>
				E-mail: <br>
				<a href="mailto:mail@cochinlaughteryoga.com">mail@cochinlaughteryoga.com</a><br>
				<a href="mailto:zachariababy@gmail.com">zachariababy@gmail.com</a><br>
                <div class="spacer"></div>
                <!-- .spacer (end) -->
                </address>
                        <!-- address (end) -->
                    </div>
                </div>
                <!-- .row (end) -->
            </div>
            <!-- wrap2 (end) -->
            <div class="clear"></div>
            <!--.pagination-->
            <!--#post-->
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span12">
                        <ul class="social">
                            <li>
                                <a href="#" title="twitter">
                                    <img src="images/social/twitter.png" alt="twitter">
                                </a>
                            </li>
                            <li>
                                <a href="#" title="google">
                                    <img src="images/social/google.png" alt="google">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/cochinlaughteryoga" title="facebook">
                                    <img src="images/social/facebook.png" alt="facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" title="rss">
                                    <img src="images/social/rss.png" alt="rss">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="footer-text"> <a href="#" class="site-name">CochinLaughterYoga</a> © 2015 <span>&bull;</span>All rights reserved.
                            <br/>
                            <br/><small> IT Consultant - <a href="http://www.sparkitcs.com">SparkITCS</a></small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>