<header class="header">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span5">
                        <!-- BEGIN MAIN NAVIGATION -->
                        <nav class="nav nav__primary clearfix">
                            <ul class="sf-menu">
                                <li><a href="/" class="active">Home</a>
                                </li>
                                <li><a href="about.html">about</a>
                                </li>
                                <li><a href="activities.html">activities</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                    <div class="span2"></div>
                    <!-- BEGIN LOGO -->
                    <div class="logo pull-left">
                        <a href="index.html">
                            <img src="images/logo.png" alt="Cochin-Laughter-Yoga" title="">
                        </a>
                        <p class="logo_tagline"></p>
                        <!-- Site Tagline -->
                    </div>
                    <!-- END LOGO -->
                    <div class="span5">
                        <!-- BEGIN MAIN NAVIGATION -->
                        <nav class="nav nav-right clearfix">
                            <ul class="sf-menu">
                                <li>
                                    <a href="gallery.html">gallery</a>
                                    <ul class="sub-menu">
                                        <li><a href="gallery.html">image gallery</a>
                                        </li>
                                        <li><a href="video-gallery.html">video gallery</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="committee.html">Committee</a>
                                </li>
                                <li><a href="contacts.html">Contacts</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>