<head>
    <title>Cochin Laughter Yoga</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Bootstarp -->
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.css" />
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" media="all" href="css/responsive.css" />
    <!-- Main -->
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/inner.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/elements.css" />
    <!-- Slider -->
    <link rel="stylesheet" type="text/css" media="all" href="css/camera.css" />
    <!-- Magnific-popup -->
    <link rel="stylesheet" type="text/css" media="all" href="css/magnific-popup.css" />
    <!-- Forms -->
    <link rel="stylesheet" type="text/css" media="all" href="css/forms.css" />
    <!-- Fonts -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Adamina|Allura|Anton|Pacifico' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   	<![endif]-->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
